@font-face {
  font-family: 'PxPlusIBM';
  src: url('/fonts/pxplusibmmda.ttf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

body {
  //background: $primary;
  font-family: IBM, sans-serif;
  color: #3e403b;
  background: #dededc;
  transition: background-color .3s ease-in-out;



  &.nwse-resize,
  &.nwse-resize > * {
    cursor: nwse-resize !important;
  }

  ::selection {
    background: rgba(#bebfb8, .3);
  }
}
